<div class="content-container">
  <div class="header">
    <figure>
      <img src="/assets/logo.png" alt="Movie City">
    </figure>
    <h1>Movie City</h1>
  </div>
  <p class="description">En Movie City podrás encontrar todas tus películas favoritas, ver reseñas sobre estas mismas y más datos que podrías interesarte si eres una gran fan del cine.</p>
  <a href="/movies" class="btn btn-primary">Ir al catálogo</a>
</div>



<footer>
  <h3>Licenciatura en Desarrollo de Sistemas Web</h3>
  <p>Luis Arturo Lira Cerda</p>
  <p>211762638</p>
  <p>luis.lira@udgvirtual.udg.mx</p>
</footer>

